html {
  height: 100%;
  width: 100%;
image-rendering: auto;
body {
    font-style: Garamond;
};
    }
cite {
    color: red;
}
p {
    align-items: center;
}
p {
    color: blue
}
body {
  background-color: lightgoldenrodyellow;
}
body {
    color: blue;
}
div {
    margin-right: 2%;
}
<img src="lilacblue.jpg" width="300">